{
	"UseInMemoryDatabase": false,
	"ConnectionStrings": {
		"DefaultConnection": "Server=.;Database=EventSourcingExample;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True;"
	},
	"Application": {
		"BackendUrl": "http://localhost:33333",
	},
	"Logging": {
		"LogLevel": {
			"Default": "Warning",
			"Hangfire": "Information"
		}
	},
	"AllowedHosts": "*",
	"TokenConfiguration": {
		"Secret": "SecretTokenSecretForMyAppWhichIs256bit",
		"Issuer": "localhost:5001",
		"Audience": "DeveloperAudience",
		"AccessExpirationInMinutes": 1440,
		"RefreshExpirationInMinutes": 120,
		"LinksExpirationInMinutes": 15
	},
	"Users":{
		"PasswordExpirationFrequency": 30
	},
	"Mail": {
		"ServerAddress": "smtp.mailtrap.io",
		"ServerPort": 2525,
		"MailFrom": "no-reply@app.com",
		"ServerLogin": "XXXXXXXXXXXXXX",
		"ServerPassword": "XXXXXXXXXXXXXX",
		"TemplatesPath": "MailTemplates/"
	}
}